table, td {    
    text-align: center;
   padding: 5px;
    border-style:solid;
  broder-width:thin ;
  
}

th
{
    text-align: center;
    padding: 5px;
    border-style:solid;
  broder-width:thin ;
    font-weight: bold;
    
    
}
table {
    
    width: 100%;
    height:100%;
    border-style:solid;
  broder-width:thin ;

}
.pay{

text-align:right;

}
